.content-div{
  width:700px;
  height: 500px;
  background-color: black;
}
.content-data{
  display:none;
  font-size: 20px;
  width:300px;
  height: 200px;
  opacity: 0;
  text-align: center;
}
div{
  diplay:inline;

}
h1{
  font-size: 30px;
  color: #D5G788;
  diplay:inline;
}
.txt{
  width:200px;
  height:40px;
  border-radius: 5px;
  box-shadow: 1 2 2 2;
  diplay:inline;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: 3;
}
.red{
  box-shadow: 1 2 2 2 red;
}
